In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/df_features.gz')

### Landmarks

In [3]:
lm = pd.read_excel('./data/landmarks.xlsx')
lm

        City        lat       long
0  Amsterdam  52.366539   4.887895
1  Barcelona  41.387318   2.166822
2     London  51.511056  -0.126601
3      Milan  45.468481   9.187097
4      Paris  48.862269   2.332588
5     Vienna  48.200836  16.365660

In [4]:
result = pd.merge(df, lm, on='City')

In [5]:
result['Distance'] = np.sqrt((result.lat_x - result.lat_y)**2 + (result.lng - result.long)**2)

In [6]:
df = result.copy()

In [7]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat_x', 'lng', 'Diff', 'Review_Month',
       'Review_Year', 'Country', 'City', 'Pet', 'Purpose', 'Whom', 'Room',
       'Length', 'Device', 'Room_Recode', 'Nationality_Recode',
       'Length_Recode', 'lat_y', 'long', 'Distance'],
      dtype='object')

#### Save Results

In [8]:
df.to_csv("./data/df_features.gz", index_label=False, compression="gzip")