In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/df_features.gz')

In [3]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score',
       'days_since_review', 'lat', 'lng', 'Diff', 'Review_Month',
       'Review_Year', 'Country', 'City', 'Pet', 'Purpose', 'Whom', 'Room',
       'Length', 'Device', 'Room_Recode', 'Nationality_Recode',
       'Length_Recode', 'Length_N', 'Close_Landmarks', 'Dist_Center',
       'Dist_Airport', 'Dist_Train'],
      dtype='object')

### Scraping Info

In [4]:
scraping = pd.read_excel('./data/hotel_city_booking_price_stars.xlsx')
scraping.head(1)

,Booking_Address,CODE,City,Hotel_Name,Hotel_Name_Booking,Hotel_Address,Hotel_Address_Booking,Price,Stars
0,https://www.booking.com/hotel/gb/number-eleven...,gb,London,11 Cadogan Gardens,11 Cadogan Gardens,11 Cadogan Gardens Sloane Square Kensington an...,"11 Cadogan Gardens, Sloane Square, Kensington ...",266.0,hotel de 5 estrellas

In [5]:
scraping.columns

Index(['Booking_Address', 'CODE', 'City', 'Hotel_Name', 'Hotel_Name_Booking',
       'Hotel_Address', 'Hotel_Address_Booking', 'Price', 'Stars'],
      dtype='object')

In [6]:
df_updated = pd.merge(df, scraping[['Hotel_Address','Price','Stars']], on='Hotel_Address')
df_updated.shape, df.shape

((515738, 37), (515738, 35))

In [7]:
df_updated.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score',
       'days_since_review', 'lat', 'lng', 'Diff', 'Review_Month',
       'Review_Year', 'Country', 'City', 'Pet', 'Purpose', 'Whom', 'Room',
       'Length', 'Device', 'Room_Recode', 'Nationality_Recode',
       'Length_Recode', 'Length_N', 'Close_Landmarks', 'Dist_Center',
       'Dist_Airport', 'Dist_Train', 'Price', 'Stars'],
      dtype='object')

#### Save Results

In [8]:
df_updated.to_csv("./data/df_features.gz", index_label=False, compression="gzip")