In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/df_features.gz')

In [29]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'Diff', 'Review_Month',
       'Review_Year', 'Country', 'City', 'Pet', 'Purpose', 'Whom', 'Room',
       'Length', 'Device', 'Room_Recode', 'Nationality_Recode',
       'Length_Recode', 'Close_Landmarks', 'Dist_Center', 'Dist_Airport',
       'Dist_Train'],
      dtype='object')

### Scraping Info

In [28]:
scraping = pd.read_excel('./data/hotel_city_booking_price_stars.xlsx')
scraping.head(1)

,Booking_Address,CODE,City,Hotel_Name,Hotel_Name_Booking,Hotel _Address,Hotel_Address_Booking,Price,Stars
0,https://www.booking.com/hotel/gb/number-eleven...,gb,London,11 Cadogan Gardens,11 Cadogan Gardens,11 Cadogan Gardens Sloane Square Kensington an...,"11 Cadogan Gardens, Sloane Square, Kensington ...",266.0,hotel de 5 estrellas

In [30]:
df_updated = pd.merge(df, scraping, on='Hotel_Address')

KeyError: 'Hotel_Address'

In [19]:
df_updated.columns

Index(['Hotel_Address_x', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'Diff', 'Review_Month',
       'Review_Year', 'Country', 'City', 'Pet', 'Purpose', 'Whom', 'Room',
       'Length', 'Device', 'Room_Recode', 'Nationality_Recode',
       'Length_Recode', 'Close_Landmarks', 'Dist_Center', 'Dist_Airport',
       'Dist_Train', 'Booking_Address', 'Hotel_Address_y', 'Price', 'Stars'],
      dtype='object')

In [20]:
df_updated.shape

(306347, 39)

In [22]:
len(df_updated.Hotel_Name.unique())

837

In [26]:
address_name = df[['Hotel_Address','Hotel_Name']].groupby(['Hotel_Address']).min().reset_index()
address_name.to_excel("./data/address_name.xlsx", index_label=False)

#### Save Results

In [10]:
df_updated.to_csv("./data/df_features.gz", index_label=False, compression="gzip")